body {
    background-color: black;
    margin: 0;
    padding: 0;
}

h1{
    font-family: 'Kalam', cursive ;
    font-size: 50px;
    text-align: center;
    color: white;
}

/*navbar*/

ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    font-family: 'Bitter', serif ;
    font-size: 20px;
}

li {
    float: left;
}

li a, .menubtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
}

li a:hover, .menu .menubtn {
    background-color: rgb(109, 15, 153);
}

li.right {
    float: right;
}

li.menu {
    display: block;
}

.navbar .icon{
    display: none;
}


@media screen and (max-width: 600px){

     /*navbar*/

    li {
        float: none;
    }

    li.right {
        float: none;
    }

    li a, .menubtn {
        display: block;
    }

    li .menu_content{
        display: none;
    }
    
    li:hover  .menu_content{
        display: block;
        
    }

    /* Screens */

    .all_screens{                    
        flex-direction: column;
        margin: auto;
    }
    .all_screens .photo img{
        width: 100%;
    }

    /* Rules */ 
    .all_rules, .a2ll_rules{                    
        flex-direction: column;
        margin: auto;
    }

}

 /* Screens */ 
 
.all_screens{
    width: 100%;
    margin: 30px auto;
    overflow: hidden;
    display: flex;
}

.all_screens .photo{
    margin: 1% 1% 1% 2%; 
}




/* Rules */ 
 
.all_rules{
    overflow: hidden;
    display: flex;
}

.a2ll_rules {
    width: 100%;
    margin: auto;
    display: center;
}

._rules{
    margin: 0% 10% 0% 10%; 
}

p{
    font-family: 'Kalam', cursive ;
    font-size: 30px;
    text-align: left;
    color: white;
}