//Author: Sasha Kastsiushkin
//Setup variables
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

//Layout
$wrapper-width: 100%;

//Game
$cell-width: 35px;
$cell-height: 35px;

// Base Font
$base-font-family: 'Open Sans', sans-serif;
$base-font-size: 14px;
$base-line-height: 1.4;

//h1
$h1-font-size: 3em;